.content{
    @include set-display(null, calc(100% - 18%), 100%);
    
    margin-left: 18%;
    padding: 30px;
    
    
    @include respond-to('large'){
        width: 100%;
        margin-left: 0;
    }
}