.content{
    @include set-display(null, calc(100% - 16%), null);
    min-height: 100%;
    margin-left: 16%;
    padding: 30px;
    background-color: $color-module-light;
    
    @include respond-to('small'){
        padding: 10px;
    }
    
    @include respond-to('large'){
        width: 100%;
        margin-left: 0;
    }
    
    >section{
        margin: 5% 10%;
        
        @include respond-to('small'){
            margin: 5% 10px;
        }
        
        >article{
            @include transition;
            
            display: table;
            
            @include respond-to('small'){
                width: 100%;
                table-layout: fixed;
            }
            
            border-left: 4px solid $color-module-hover;
            background-color: #fff;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
            border-radius: 0px;
            
            div{
                padding: 20px;
                display: table-cell;
                vertical-align: top;
                overflow: hidden;
                
                &.description{
                    background-color: $color-module-hover;
                    >ul{
                        
                        >li{
                            @extend .animated;
                            @extend .bounce-in-right;
                            margin-bottom: 10px;
                            
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                            
                            h2,label{
                                color: #fff;
                            }
                            
                            label{
                                display: block;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.list{
    li{
        margin-bottom: 30px;
        
        p{
            margin-bottom: 5px;
            padding-left: 20px;
            position: relative;
            
            &:before,
            &:after{
                content: '';
                position: absolute;
                background-color: $color-module-light;
                width: 2px;
            }
            
            &:before{
                left: 10px;
                height: 12px;
                transform: rotate(35deg);
                top: 1px;
            }
            
            &:after{
                left: 5px;
                height: 5px;
                transform: rotate(-55deg);
                top: 7px;
            }
        }
        
        h3{
            margin: 20px 0;
        }
        
        label{
            @include set-font(16px, 300, $color-font-heading);
        }
    }
}