.content{
    @include set-display(null, calc(100% - 80px), null);
    min-height: 100%;
    margin-left: 80px;
    padding: 30px;
    background-color: $color-module-light;
    
    @include respond-to('small'){
        padding: 10px;
        width: 100%;
        margin-left: 0;
    }
    
    >section{
        margin: 5% 15%;
        
        @include respond-to('medium'){
            margin: 5%;
        }
        
        @include respond-to('small'){
            margin: 5% 0;
        }
        
        >article{
            @include transition;
            
            display: table;
            
            @include respond-to('small'){
                width: 100%;
                table-layout: fixed;
            }
            
            border-left: 4px solid $color-module-hover;
            background-color: #fff;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
            border-radius: 0px;
            
            div{
                padding: 20px;
                display: table-cell;
                vertical-align: top;
                overflow: hidden;
                
                &.overflow-visible{
                    overflow: visible;
                }
                
                &.description{
                    background-color: $color-module-hover;
                    >ul{
                        
                        >li{
                            @extend .animated;
                            @extend .bounce-in-right;
                            margin-bottom: 10px;
                            
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                            
                            h2,label{
                                color: #fff;
                            }
                            
                            label{
                                display: block;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
                
                @include respond-to('small'){
                    padding: 10px;
                }
            }
        }
    }
}

.bring-to-front{
    position: relative;
    z-index: 10;
}

.overlay{
    @include transition;
    
    visibility: hidden;
    opacity: 0;
    
    position: fixed;
    width: calc(100% - 80px);
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    margin-left: 80px;
    
    &.visible{
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
}

.list{
    li{
        margin-bottom: 30px;
        
        p{
            margin-bottom: 5px;
            padding-left: 20px;
            position: relative;
            
            &:before,
            &:after{
                content: '';
                position: absolute;
                background-color: $color-module-light;
                width: 2px;
            }
            
            &:before{
                left: 10px;
                height: 12px;
                transform: rotate(35deg);
                top: 4px;
            }
            
            &:after{
                left: 5px;
                height: 5px;
                transform: rotate(-55deg);
                top: 10px;
            }
        }
        
        h3{
            margin: 20px 0;
        }
        
        label{
            @include set-font(16px, 300, $color-font-heading);
        }
    }
}

#about{
    article{
        padding-right: 150px;
        
        @include respond-to('medium'){
            width: 100%;
        }
        
        @include respond-to('small'){
            padding-right: 200px;
        }
        
        @include respond-to('xsmall'){
            padding-right: 0;
            
            h1{
                margin-bottom: 220px;
            }
        }
    }
}

.profile-picture-wrapper{
    position: absolute;
    right: -40px;
    top: calc(50% - 90px);
    background-color: #fff;
    
    width: 180px;
    height: 180px;
    border-radius: 50%;
    
    img{
        display: block;
        max-width: 100%;
        margin: 10px auto;
    }
    
    @include respond-to('small'){
        right: 10px;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    }
    
    @include respond-to('xsmall'){
        top: 60px;
        right: calc(50% - 90px);
    }
}

#contact{
    article div >ul >li{
        margin-bottom: 20px;
        
        a{
            margin-right: 40px;
            
            @include respond-to('small'){
                display: block;
                margin: 20px auto !important;
            }
            
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

.tooltip-parent{
    position: relative;
    z-index: 10;
    
    &:hover{
        .tooltip{
            visibility: visible;
            opacity: 1;
            top: -50px;
        }
    }
    
    .tooltip{
        @include horizontal-align(absolute);
        @include transition;
        
        
        visibility: hidden;
        opacity: 0;
        top: -30px;
        will-change: top, visibility, opacity;
        
        color: #fff;
        background-color: $color-module;
        border-radius: 8px;
        padding: 10px;
        
        &:before{
            content: '';
            @include tail-color($color-module, transparent, transparent, transparent);
            @include horizontal-align(absolute);
            
            bottom: -20px;
            border-width: 10px;
            border-style: solid;
        }
    }
}