<div class="portfolio-wrapper container-fluid" ng-controller="PortfolioController">
    <div class="page-content">
        <h1>Portfolio</h1>
        
        <h2>Filter</h2>
        <ul id="filterList">
            
        </ul>
        
        <ul class="portfolio-box-wrapper">
           <!-- animated icons-->
            <li class="portfolio-box-item"> <!--  ng-click='nav("/portfolio/animated-icons")' -->
                <h3>Animated icons</h3>
                <p>Playground</p>
                <label>Short description text goes right in here.</label>
                <span class="tag">html5</span>
                <span class="tag">css3</span>
            </li>
            
            <li class="portfolio-box-item"> <!--  ng-click='nav("/portfolio/animated-icons")' -->
                <h3>Animated icons</h3>
                <p>Playground</p>
                <label>Second</label>
                <span class="tag">animation</span>
                <span class="tag">js</span>
            </li>
            
            <li class="portfolio-box-item"> <!--  ng-click='nav("/portfolio/animated-icons")' -->
                <h3>Animated icons</h3>
                <p>Playground</p>
                <label>Third</label>
                <span class="tag">html5</span>
                <span class="tag">animation</span>
            </li>
            
            <li class="portfolio-box-item"> <!--  ng-click='nav("/portfolio/animated-icons")' -->
                <h3>Animated icons</h3>
                <p>Playground</p>
                <label>Third</label>
                <span class="tag">html5</span>
            </li>
            
            <li class="portfolio-box-item"> <!--  ng-click='nav("/portfolio/animated-icons")' -->
                <h3>Animated icons</h3>
                <p>Playground</p>
                <label>Third</label>
                <span class="tag">js</span>
            </li>
        </ul>
    </div>
</div>

<script>
    $('body').removeClass('font-portfolio');
</script>
