@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// set font family non-generic
%font-family{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

// set font family fn
@mixin set-font($size: null,
                $weight: null,
                $color: null){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

a{
    text-decoration: none;
}

body{
    @extend %font-family;
    
    &.font-portfolio{
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
        font-weight: 400;
    }
}
