// color code
$color-light: #f9f9f9;
$color-dark: #001021;

$color-active-primary: #F29E4C;
$color-active-secondary: #EFEA5A;
$color-active-light: #16DB93;
$color-active-medium: #048BA8;
$color-active-dark: #A4036F;

$color-module: #2196F3;
$color-module-hover: lighten($color-module, 10%);

$color-module-light: #B3E5FC;
$color-module-light-hover: darken($color-module-light, 10%);

$color-font-heading: #212121;
$color-font-text: lighten($color-font-heading, 10%);
