aside{
    @include set-display(null, 16%, 100%);
    position: fixed;
    
    background-color: #fff;
    
    @include respond-to('large'){
        display: none;
        width: 280px;
    }
    
    .bg-aside{
        background: url("../img/img-bg-01.png") no-repeat center;
        background-size: contain;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
    }
    
    nav{
        margin: 15% 0;
        
        .profile-picture{
            margin: 10% 0 10% 0;
            
            img{
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
        
        >ul{
            >li{
                
                a{
                    @include transition;
                    
                    display: block;
                    position: relative;
                    padding: 15px 20px 15px 35px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $color-module;
                    font-size: 16px;
                    
                    &:before{
                        @include transition;
                        content: '';
                        position: absolute;
                        left: 15px;
                        top: calc(50% - 8px);
                        
                        width: 10px;
                        height: 10px;
                        border: 2px solid $color-module;
                        border-radius: 50%;
                        
                    }
                    
                    &.active{
                        &:before{
                            
                        }
                    }
                    
                    &:hover{
                        background-color: $color-module-light;
                        color: #fff;
                        
                        &:before{
                            border-color: #fff;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}
