input[type="text"]{
    @extend %font-family;
    @include set-font(18px, 300, $color-active-light);
    
    
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid $color-active-light;
    
    
    padding-bottom: 10px;
}