.tags{
    >li{
        margin-bottom: 10px;
        margin-right: 10px;
        float: left;
        
        &:last-of-type{
            margin-right: 0;
        }
        
        span{
            @include transition;
            
            display: block;
            border-radius: 4px;
            padding: 5px 10px;
            background-color: $color-module-light;
            color: #fff;
            cursor: pointer;
            
            &.active{
                background-color: $color-module-light-hover;
            }
        }
    }
}