<aside>
    <nav class="menu">
        <ul>
            <li>
                <a href="" onclick="scrollToSection('about')" class="icon-user"></a>
                <label class="navbar-tooltip">About me</label>
            </li>
            <li>
                <a href="" onclick="scrollToSection('skills')" class="icon-skills"></a>
                <label class="navbar-tooltip">Skills</label>
            </li>
            <li>
                <a href="" onclick="scrollToSection('experience')" class="icon-experience"></a>
                <label class="navbar-tooltip">Experience</label>
            </li>
            <li>
                <a href="" onclick="scrollToSection('contact')" class="icon-phonebook"></a>
                <label class="navbar-tooltip">Contact</label>
            </li>
            <li>
                <a href=""  ng-click='nav("/portfolio")' class="icon-portfolio"></a>
                <label class="navbar-tooltip">Portfolio</label>
            </li>
        </ul>
    </nav>
</aside>
<div class="content">
    <section id="about">
        <article class="half-and-quarter-width relative">
            <div>
                <h1>About me<i class="icon-user"></i></h1>
                <p>
                    Highly motivated, well organized, communicative guy that loves bringing design to life.<br>
                    Working on a large projects challanged me to write well structured, light and reusable code.
                </p>
                <p>
                    My main skills are HTML, CSS, JavaScript. I have experience with organizing HTML and CSS using BEM although I'm not a big fan of it. Most of the projects & products I've been working on are written in ASP.NET environment.
                </p>
                <p class="no-margin-bottom">
                    Besides coding, I enjoy playing guitar, making music and gaming.
                </p>
                <figure class="profile-picture-wrapper animated shake long">
                    <img src="img/img-profile.png">
                </figure>
            </div>
        </article>
    </section>
    <section id="skills">
        <article>
           <div>
               <h1>Skills<i class="icon-skills"></i></h1>
               <ul class="tags">
                   <li>
                       <span class="active" onclick="toggleSkill('html', this);">HTML</span>
                   </li>
                   <li>
                       <span onclick="toggleSkill('css', this);">CSS</span>
                   </li>
                   <li>
                       <span onclick="toggleSkill('js', this);">JAVASCRIPT</span>
                   </li>
                   <li>
                       <span onclick="toggleSkill('git', this);">GIT</span>
                   </li>
                   <li>
                       <span>PHOTOSHOP</span>
                   </li>
                   <li>
                       <span onclick="toggleSkill('php', this);">PHP</span>
                   </li>
               </ul>
           </div>
           <div class="description">
               <ul class="skill-list">
                <li id="html">
                    <h2>HTML</h2>
                    <label>- HTML5</label>
                    <label>- Twig templating</label>
                    <label>- Jekyll</label>
                    <label>- Hexo</label>
                </li>
                <li class="hide" id="css">
                    <h2>CSS</h2>
                    <label>- CSS3</label>
                    <label>- Sass with Compass / Gulp</label>
                </li>
                <li class="hide" id="js">
                    <h2>Javascript</h2>
                    <label>- Jquery</label>
                    <label>- Angular 1.x</label>
                </li>
                <li class="hide" id="git">
                    <h2>GIT</h2>
                    <label>- SourceTree</label>
                </li>
                <li class="hide" id="php">
                    <h2>PHP (learning)</h2>
                    <label>- Laravel framework</label>
                </li>
            </ul>
           </div>
        </article>
    </section>
    <section id="experience">
        <article class="full-width">
            <div>
                <h1>Experience <i class="icon-experience"></i></h1>
                <ul class="list">
                    <li>
                        <h2>Front End Developer, Zugseil</h2>
                        <h4>Novi Sad, Serbia, June 16th 2016 - present.</h4>
                        <label>Focusing mostly on huge 'warehousing' project with multiple modules</label>
                        <h3>My responsibilities</h3>
                        <p>Turning PSD files into cross-browser compatible and responsive pages</p>
                        <p>Creating reusable HTML templates and CSS code</p>
                        <p>Refactoring features</p>
                        <p>Reviewing code</p>
                        <h3>Used technologies</h3>
                        <p>PHP with Laravel framework</p>
                        <p>CSS3 with SASS</p>
                        <p>Jquery & AngularJS</p>
                        <p>Gulp</p>
                    </li>
                    <li>
                        <h2>Web designer & Front End Developer, customweb GmbH (freelance)</h2>
                        <h4>February 2016 - present.</h4>
                        <label>Implementation & maintenance of website</label>
                        <h3>My responsibilities</h3>
                        <p>Turning PSD files into cross-browser compatible and responsive pages</p>
                        <p>Creating reusable HTML templates, components and CSS code</p>
                        <h3>Used technologies</h3>
                        <p>Hexo</p>
                        <p>NodeJS</p>
                        <p>CSS3 with SASS</p>
                        <p>Compass</p>
                    </li>
                    <li>
                        <h2>Lead Front End Developer, Danulabs</h2>
                        <h4>Novi Sad, Serbia, February 1st 2015 - June 16h 2016.</h4>
                        <label>Working on various medical, planning & warehousing projects for clients from Switzerland and Germany</label>
                        <h3>My responsibilities</h3>
                        <p>Turning PSD files into cross-browser compatible and responsive pages</p>
                        <p>Creating reusable HTML templates and CSS code</p>
                        <p>Maintaining multiple projects</p>
                        <p>Reviewing code</p>
                        <h3>Used technologies</h3>
                        <p>Laravel's blade templating</p>
                        <p>CSS3 with SASS</p>
                        <p>Jquery & AngularJS</p>
                        <p>Compass</p>
                        <p>Gulp</p>
                    </li>
                    <li>
                        <h2>Intern, COINGCS</h2>
                        <h4>Novi Sad, Serbia, April 28th 2014 - September 1st 2014.</h4>
                        <label>Getting into the 'www', teamwork and meaning of working hours, and contributing on the actual project.</label>
                        <h3>My responsibilities</h3>
                        <p>Turning PSD files into cross-browser compatible and responsive pages</p>
                        <p>Creating reusable HTML templates and CSS code</p>
                        <h3>Used technologies</h3>
                        <p>Handlebars templating</p>
                        <p>CSS3 with SASS</p>
                        <p>Compass</p>
                        <p>Build tools</p>
                    </li>
                </ul>
            </div>
        </article>
    </section>
    <section id="contact">
        <article>
            <div class="overflow-visible">
                <h1>Contact<i class="icon-phonebook"></i></h1>
                <ul class="list">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/konstantin.srdjanov" class="social icon-facebook"></a>
                        <a target="_blank" href="https://rs.linkedin.com/in/konstantin-srdjanov-3a5647a3" class="social icon-linkedin"></a>
                        <a href="mailto:srdjanov.konstantin@gmail.com" class="social icon-email tooltip-parent">
                            <span class="tooltip">srdjanov.konstantin@gmail.com</span>    
                        </a>
                        <a href="skype:qualc0l3?add" class="social icon-skype tooltip-parent">
                            <span class="tooltip">qualc0l3</span>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </section>
    
    <section>
        <div class="contact-form">
            <ng-form>
                <div class="step-one contact-step">
                    <div class="contact-step-left">
                        <i class="icon-boy"></i>
                        <div class="contact-step-message">
                            Hello there! My name is Konstantin, what's yours?
                        </div>
                    </div>
                    <div class="contact-step-right">
                        <input type="text" class="contact-message-input" />
                        <a ng-click="">Enter</a>
                    </div>
                </div>
                <div class="step-two contact-step">
                    <div class="contact-step-left">
                        <i class="icon-boy"></i>
                    </div>
                    <div class="contact-step-right">
                        <a ng-click="">Enter</a>    
                    </div>
                </div>
                <div class="step-three contact-step">
                    <div class="contact-step-left">
                        <i class="icon-boy"></i>
                    </div>
                    <div class="contact-step-right">
                        <a ng-click="">Enter</a>    
                    </div>
                </div>
                <div class="step-four contact-step">
                    <div class="contact-step-left">
                        <i class="icon-boy"></i>
                    </div>
                </div>
            </ng-form>
        </div>
    </section>
</div>
<script>
    $('body').addClass('font-portfolio');
</script>

